.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
/.settings/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/target/
backended/.classpath
backended/.settings/org.eclipse.jdt.core.prefs
backended/target/m2e-wtp/web-resources/META-INF/maven/com.org/wwc/pom.xml
backended/target/m2e-wtp/web-resources/META-INF/maven/com.org/wwc/pom.properties
backended/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
backended/.classpath
*.prefs
backended/.classpath
